<div class="container">
    <div class="accueilTile" (click)='navigateTo("/accueil")'>
        <p>Accueil</p>
    </div>
    <div class="accountTile" (click)='navigateTo("/account")'>
        <p>Mon Compte</p>
    </div>
    <div class="conversationTile" (click)='navigateTo("/conversation")'>
        <p>Mes conversations</p>
    </div>
    <div class="eventTile" (click)='navigateTo("/eventForm")'>
        <p>Ajouter un évenements</p>
    </div>
</div>

<!--METTRE UNE TAILLE EN VH ET L'ENLEVER DE LA TILLE DES AUTRES COMPOSANTS-->