<div class="background">
    <div class="container">
        <h1 class="label">Bienvenue sur la page de connecxion de Kwack !</h1>
        <div>
            <p class="label">Login</p>
            <input class="input" type="text">
        </div>
        <div>
            <p class="label">Mot de passe</p>
            <input class="input" type="text">
        </div>
        <div>
            <p class="label">Pas de compte ? <a href="">Inscrivez-vous !</a></p>
        </div>
        <img src="../../assets/images/logo_Kack.png" class="image" alt="">
    </div>
</div>
