<app-header></app-header>
<div class="background">
    <div class="container">
        <div class="nom">
            <p class="label"><b>{{event.nom}}</b></p>
        </div>
        <div class="description">
            <p class="label">{{event.description}}</p>
        </div>
        <img class="image" src="{{event.image}}" alt="">
        <div class="info">
            <p class="label">{{event.theme}} - {{event.date_event}} - {{event.prix}}€</p>
        </div>
        <button (click)="navigate()" class="editEvent bouton">Editer l'évenement</button>
    </div>
</div>
