<app-header></app-header>
<div class="background">
    <div class="container">
        <div class="nom">
            <p class="label"><b>{{event.Nom}}</b></p>
        </div>
        <div class="description">
            <p class="label">{{event.Description}}</p>
        </div>
        <img class="image" src="{{event.Image}}" alt="">
        <div class="info">
            <p class="label">{{event.Theme}} - 28/02/2024 - {{event.Prix}}€</p>
        </div>
        <button class="editEvent">Editer l'évenement</button>
    </div>
</div>
