<app-header></app-header>
<div class="background">
    <div class="info">
        <div class="nom">
            <p class="label">Nom de l'évenement</p>
            <input type="text" class="input">
        </div>
        <div class="prix">
            <p class="label">Prix de l'évenement</p>
            <input type="text" class="input">
        </div>
        <div class="date">
            <p class="label">Date de l'évenement</p>
            <input type="date" class="input">
        </div>
        <div class="ajoutImage">
            <button class="bouton">Ajouter une image</button>
        </div>
    </div>
    <div class="desc">
        <p class="label">Description de l'évenement</p>
        <input type="text" class="input descriptionInput">
    </div>
    <div class="themes">
        <form class="label">
            <p class="label">Thème de l'évenement</p>
            <label><input type="radio" name="tri" value="0">Sport</label><br>
            <label><input type="radio" name="tri" value="1">Culture</label><br>
            <label><input type="radio" name="tri" value="2">Festif</label><br>
            <label><input type="radio" name="tri" value="3">Pro</label><br>
            <label><input type="radio" name="tri" value="4">Autre</label><br>
        </form>     
    </div>
    <button class="publication bouton">Publier l'évenement</button>
</div>
