<app-header></app-header>
<div class="background container">
    <h1 class="label titre">Vos informations</h1>
    <div class="gauche">
        <img class="imageProfil" src="../../assets/images/poolparty.jpg" alt="">
        <p class="admin" *ngIf="utilisateur.admin">Profil administrateur</p>
    </div>
    <div class="milieu">
        <div class="username">
            <p class="label">Nom d'utilisateur</p>
            <input class="input" type="text" value="{{utilisateur.username}}">
        </div>
        <div class="mail">
            <p class="label">Adresse mail</p>
            <input class="input" type="text" value="{{utilisateur.mail}}">
        </div>
        <div class="password">
            <p class="label">Mot de passe</p>
            <input class="input" type="text" value="{{utilisateur.password}}">
        </div>
        <div class="nom">
            <p class="label">Nom</p>
            <input class="input" type="text" value="{{utilisateur.nom}}">
        </div>
        <div class="prenom">
            <p class="label">Prénom</p>
            <input class="input" type="text" value="{{utilisateur.prenom}}">
        </div>
        <div class="birthday" id="birthday">
            <p class="label">Date de naissance</p>
            <input class="input" (change)="logValueDate()" type="date" value="{{bday}}" (ngModel)="bday">
        </div>
    </div>
    <div class="droite">
        <div class="droite-haut">
            <p>Mes évenements</p>
            <div class="eventUtilisateur">
                <li *ngFor="let event of eventList">{{event}}</li>
            </div>
        </div>
        <div class="droite-bas">
            <p>{{nbEventFavoris}} évenements en favoris</p>
            <button>Consulter</button>  <!--On fait quoi ? direction accueil avec favoris en filtre ? nouveau composant ?-->
        </div>
    </div>
</div>